.service{
    margin: 30px 0;
}
select{
    border: 2px solid #1E90FF;
    margin: 0 10px;
}
.button{
    background-color: #1E90FF;
    margin: 0 10px;
}
.clearButton{
    background-color: #FF0000;
    color: white;
}